# QUIZ

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Question 1

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age', 'Nationality','Overall']

pd.DataFrame(lst, columns=col, index=[i for i in range(1,4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [3]:
# import the dataset

df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin-1")

In [4]:
# Question 2

df.corr()

C:\Users\DELL\AppData\Local\Temp\ipykernel_17496\142311177.py:3: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [5]:
# Question 4

sum = round(df.Y2014.isnull().sum(), 3)

# percentage
percentage = round(((df.Y2014.isnull().sum())/len(df.Y2014))*100, 3)

print(f'sum:{sum}, percentage{percentage}%')

sum:1589, percentage2.607%

In [6]:
# Question 5
grouped_df = df.groupby("Element Code")["Y2014", "Y2015", "Y2016", 'Y2017', 'Y2018'].sum()
grouped_df

C:\Users\DELL\AppData\Local\Temp\ipykernel_17496\3480465332.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped_df = df.groupby("Element Code")["Y2014", "Y2015", "Y2016", 'Y2017', 'Y2018'].sum()

                   Y2014       Y2015       Y2016       Y2017       Y2018
Element Code
511           1031585.00  1058081.00  1085107.00  1112641.00  1140605.00
645             49650.63    49345.13    48985.28    48690.04    49056.85
664            454257.00   453383.00   451810.00   454681.00   455261.00
674             11836.46    11833.95    11779.69    11842.45    11833.56
684             10225.56    10235.74    10102.77    10253.84    10258.69
5072            58749.83    34910.99    33140.12    54316.91    20577.91
5123           153223.00   155439.00   157787.00   160614.00   163902.00
5131           282923.00   287929.00   280631.00   292836.00   308429.00
5142          1212332.49  1232361.10  1247022.17  1258888.28  1303841.28
5154            78718.13    66254.41    69563.68    91645.97    91300.97
5170            30149.00    30045.00    37224.00    35500.00    34864.00
5171              416.00      349.00       89.00       91.00       90.00
5301          1996716.35  2021493.55  2044842.70  2088198.10  2161192.10
5511          1931287.75  1947019.39  1943537.15  2030056.89  2075072.89
5521           216927.89   225050.22   228958.65   223705.68   233489.68
5527            21922.92    23976.82    23389.20    24870.14    25263.14
5611           274144.48   267018.46   286582.78   294559.09   287997.09
5911           150020.64   157614.47   151920.46   182338.80   181594.80

In [7]:
# Question 6
groupby_df = df.groupby("Element Code").sum()

len(groupby_df.Y2017)

C:\Users\DELL\AppData\Local\Temp\ipykernel_17496\673785770.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  groupby_df = df.groupby("Element Code").sum()

18

In [8]:
# Question 8

df.iloc[:]

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [9]:
# Question 9
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [10]:
# Question 10

df.shape

(60943, 12)

In [11]:
# Question 11
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [12]:
# Question 12

madagascar_df = df[df.Area == "Madagascar"]
madagascar_df.Y2015.sum()

126674.9

In [13]:
# Question 14
#7th lowest sum 

grouped = df.groupby("Area")['Y2017'].sum().sort_values(ascending=True)
grouped

Area
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Comoros                             59.84
Seychelles                         442.34
Sao Tome and Principe            12662.63
Cabo Verde                       14650.74
Guinea-Bissau                    19102.77
Lesotho                          21267.96
Botswana                         22101.30
Djibouti                         22729.91
Gambia                           23154.18
Gabon                            27979.64
Liberia                          29342.20
Namibia                          29874.89
Central African Republic         29937.00
Congo                            41181.68
Togo                             49841.88
Mauritius                        51114.83
Eswatini                         54343.33
Sierra Leone                     55311.33
Chad                             71594.68
Rwanda                           73663.69
Zimbabwe                         75919.34
Senegal                          95681.15
Guinea                           98138.87
Burkina Faso                    101855.07
Zambia                          103223.77
Tunisia                         124167.20
Benin                           124771.22
Niger                           126707.58
Madagascar                      131197.73
Mali                            149928.33
Mauritania                      156665.46
Mozambique                      161407.98
Malawi                          181098.71
Uganda                          213950.38
Côte d'Ivoire                   224599.01
Angola                          229159.57
Cameroon                        232030.43
Sudan                           239931.92
Kenya                           264660.66
United Republic of Tanzania     322616.85
Algeria                         325644.27
Ghana                           337599.06
Morocco                         388495.36
Ethiopia                        448683.76
South Africa                    517590.54
Egypt                           866379.92
Nigeria                        1483268.23
Name: Y2017, dtype: float64

In [14]:
# Question 15

len(df.Area.unique())

49

In [15]:
# Question 16
y = [(2, 4), (7, 8), (1, 5, 9)]

x= y[1][1]
x

8

In [16]:
# Question 17

grouped = df.groupby("Area")["Y2017"].sum()
listed_countries = [grouped['South Africa'], grouped.Nigeria, grouped.Egypt,grouped.Kenya, grouped.Ethiopia]
max(listed_countries)

1483268.23

In [17]:
# Question 18
mean = df.Y2017.mean()
std = df.Y2017.std()
round(mean, 2), round(std,2)

(140.92, 1671.86)

In [18]:
# Question 19
group = df.groupby("Item")["Y2015", "Y2018"].sum()
group[group.index == "Wine"]

C:\Users\DELL\AppData\Local\Temp\ipykernel_17496\472361754.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  group = df.groupby("Item")["Y2015", "Y2018"].sum()

        Y2015    Y2018
Item
Wine  4251.81  4039.32

In [19]:
# Question 20

array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])
array[1]

[93, 92, 48]